doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WOW!
        link(rel="stylesheet", href="/css/styles.css")

        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nanum+Myeongjo&family=PT+Mono&display=swap" rel="stylesheet")
        link(rel="shortcut icon" href="http://www.yoursite.com/favicon.ico?v=2") 
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Love+Light&family=Mukta&family=Nanum+Myeongjo&family=Oooh+Baby&family=PT+Serif&family=Waterfall&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)       
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Love+Light&family=Mukta&family=Nanum+Myeongjo&family=Oooh+Baby&family=PT+Serif&family=Roboto:wght@400;500&family=Secular+One&family=Waterfall&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Love+Light&family=Manrope&family=Mukta&family=Nanum+Myeongjo&family=Oooh+Baby&family=PT+Serif&family=Roboto:wght@400;500&family=Secular+One&family=Waterfall&display=swap" rel="stylesheet")
    body
        div.baseheader 
            .baseheader__col1
                a(href="/") 
                    p weofwebtoon
            .baseheader__col2
                .baseheader__col2__sec.devMenu Webtoon
                    .subBox1
                        .subBox1__col
                            .subBox1__col__sce1
                                .subBox1__col__sce1__box1
                                    .subBox1__col__sce1__box1__icon
                                        i.fas.fa-align-left
                                    .subBox1__col__sce1__box1__text 
                                        a(href="/") 
                                            h2 kakao webtoon
                                            p Lorem ipsum dolor sit amet.... 
                                .subBox1__col__sce1__box2            
                                    .subBox1__col__sce1__box2__icon
                                        i.fas.fa-align-center
                                    .subBox1__col__sce1__box2__text         
                                        a(href="#")
                                            h2 naver webtoon
                                            p Lorem ipsum dolor sit amet....
                                .subBox1__col__sce1__box3             
                                    .subBox1__col__sce1__box3__icon
                                        i.fas.fa-align-left
                                    .subBox1__col__sce1__box3__text     
                                        a(href="#") 
                                            h2 by day of the week
                                            p Lorem ipsum dolor sit amet.... 
                                .subBox1__col__sce1__box4             
                                    .subBox1__col__sce1__box4__icon
                                        i.fas.fa-align-right
                                    .subBox1__col__sce1__box4__text     
                                        a(href="#")  
                                            h2 finished
                                            p Lorem ipsum dolor sit amet.... 
                            .subBox1__col__sce2
                                a(href="/free/list") 
                                    h1 Board 
                                a(href="/") 
                                    p Suggestion
                                a(href="/") 
                                    p Novel
                                a(href="/") 
                                    p Development
                                a(href="/help") 
                                    p Help              

                .baseheader__col2__sec.devMenu Board 
                    .subBox2
                        .subBox2__col1
                            .subBox2__col1__icon
                                i.fas.fa-border-all
                            .subBox2__col1__text  
                                a(href="/free/list")  
                                    h2 free
                                    p Lorem ipsum dolor sit amet.... 
                        .subBox2__col2
                            .subBox2__col2__icon 
                                i.fas.fa-calendar-alt
                            .subBox2__col2__text  
                                a(href="/event/eventlist") 
                                    h2 event  
                                    p Lorem ipsum dolor sit amet....       
                        .subBox2__col3 
                            .subBox2__col3__icon       
                                i.fas.fa-calendar-times
                            .subBox2__col3__text  
                                a(href="/board/questionlist")  
                                    h2 question
                                    p Lorem ipsum dolor sit amet.... 
                        .subBox2__col4  
                            .subBox2__col4__icon 
                                i.fas.fa-calendar-check 
                            .subBox2__col4__text      
                                a(href="/notice/noticelist")  
                                    h2 notice
                                    p Lorem ipsum dolor sit amet.... 
                        .subBox2__col5
                            .subBox2__col5__icon 
                                i.fas.fa-calendar-plus
                            .subBox2__col5__text      
                                a(href="/fqa/fqalist")  
                                    h2 fqa
                                    p Lorem ipsum dolor sit amet.... 
                        .subBox2__col6
                            .subBox2__col6__icon 
                                i.far.fa-calendar-plus
                            .subBox2__col6__text      
                                a(href="/qna/qnalist") 
                                    h2 q&a
                                    p Lorem ipsum dolor sit amet....  

                .baseheader__col2__sec.devMenu Suggestion
                    .subBox3
                        .subBox3__col1
                            .subBox3__col1__icon
                                i.fas.fa-tablet-alt
                            .subBox3__col1__text  
                                a(href="/suggestion")  
                                    h2 tablet 
                                    p Lorem ipsum dolor sit amet.... 
                        .subBox3__col2
                            .subBox3__col2__icon 
                                i.fas.fa-tv
                            .subBox3__col2__text  
                                a(href="/suggestion") 
                                    h2 monitor
                                    p Lorem ipsum dolor sit amet....       
                        .subBox3__col3 
                            .subBox3__col3__icon       
                               i.fas.fa-tablet
                            .subBox3__col3__text  
                                a(href="/suggestion")  
                                    h2 liquid crystal tablet
                                    p Lorem ipsum dolor sit amet.... 
                        .subBox3__col4  
                            .subBox3__col4__icon 
                                i.fas.fa-tablet
                            .subBox3__col4__text      
                                a(href="/suggestion")  
                                    h2 pan tablet
                                    p Lorem ipsum dolor sit amet.... 

                .baseheader__col2__sec.devMenu Novel
                     .subBox3
                        .subBox3__col1
                            .subBox3__col1__icon
                                i.fas.fa-book
                            .subBox3__col1__text  
                                a(href="#")  
                                    h2 kakao page
                                    p Lorem ipsum dolor sit amet.... 
                        .subBox3__col2
                            .subBox3__col2__icon 
                                i.fas.fa-book
                            .subBox3__col2__text  
                                a(href="/") 
                                    h2 naver series
                                    p Lorem ipsum dolor sit amet....       
                        .subBox3__col3 
                            .subBox3__col3__icon       
                                i.fas.fa-book
                            .subBox3__col3__text  
                                a(href="#")  
                                    h2 by day of the week
                                    p Lorem ipsum dolor sit amet.... 
                        .subBox3__col4  
                            .subBox3__col4__icon 
                                i.fas.fa-book
                            .subBox3__col4__text      
                                a(href="#")  
                                    h2 finished
                                    p Lorem ipsum dolor sit amet.... 

                .baseheader__col2__sec.devMenu Development
                     .subBox3
                        .subBox3__col1
                            .subBox3__col1__icon
                                i.fas.fa-stamp
                            .subBox3__col1__text  
                                a(href="development")  
                                    h2 painting lecture
                                    p Lorem ipsum dolor sit amet.... 
                        .subBox3__col2
                            .subBox3__col2__icon 
                                i.fas.fa-palette
                            .subBox3__col2__text  
                                a(href="development") 
                                    h2 digital drawing 
                                    p Lorem ipsum dolor sit amet....       
                        .subBox3__col3 
                            .subBox3__col3__icon       
                                i.fas.fa-paint-roller
                            .subBox3__col3__text  
                                a(href="development")  
                                    h2 novel forn cover
                                    p Lorem ipsum dolor sit amet.... 
                        .subBox3__col4  
                            .subBox3__col4__icon 
                                i.fas.fa-brush
                            .subBox3__col4__text      
                                a(href="development")  
                                    h2 writer dev
                                    p Lorem ipsum dolor sit amet.... 

                a(href="/help")               
                    .baseheader__col2__sec.devMenu  Help  

            .baseheader__col3
                ul 
                    if loggedIn 
                        li.baseheader__col3__logout1
                            .baseheader__col3__logout1__box
                                i.fas.fa-search  
                                input(type="text" placeholder="Search")  
                        li.baseheader__col3__logout2.devMenu 
                                i.fas.fa-user
                                    .usersubBox
                                        .usersubBox__col
                                            .usersubBox__col__sec1
                                                a(href="/user")
                                                    p Profile
                                            .usersubBox__col__sec2        
                                                a(href="/user")
                                                    p Edit profile
                                                a(href="/user")
                                                    p My Liskes 
                                                a(href="/user")
                                                    p My Webtoon       
                                                a(href="/user")
                                                    p My Review   
                                            .usersubBox__col__sec3  
                                                i.fas.fa-sign-out-alt     
                                                a(href="/logout")
                                                    p Sign out
                                            
                                       
                    else  
                        i.fas.fa-search  
                        li.baseheader__col3__sec
                            a(href="/signin") 
                                p Sign in 
                        p /        
                        li.baseheader__col3__sec
                            a(href="/termsofuse") 
                                p Sign up   
            .baseheader__col4
                a(href="/webtoon/webtooncreate")    
                    button webtoon create

        section.wholeWrapper 
            section.XX__left 
            section.rsWrapper
                block content
            section.XX__right 

        div.footer
            .footer__col1
                .footer__col1__sec1
                    img(src="img/title.png")
                .footer__col1__sec2
                    .footer__col1__sec2__text1
                        a(href="https://webtoon.kakao.com/") 
                            p KAKAO WEB TOON
                    .footer__col1__sec2__text2
                        a(href="https://comic.naver.com/webtoon/weekday") 
                            p NAVER WEB TOON
                    .footer__col1__sec2__text3
                        a(href="https://page.kakao.com/main") 
                            p KAKAO PAGE
                    .footer__col1__sec2__text4
                        a(href="https://series.naver.com/comic/home.series?isWebtoonAgreePopUp=true") 
                            p NAVER SERIES
            .footer__col2 
                .footer__col2__sec1 
                    .footer__col2__sec1__text
                        a(href="/help") 
                            p HELP
                    .footer__col2__sec1__text
                        a(href="board/questionlist") 
                            p QUESTION
                    .footer__col2__sec1__text   
                        a(href="/partcipants") 
                            p PARTICIPANTS
                    .footer__col2__sec1__text
                        a(href="/notice/noticelist") 
                            p NOTICE
                    .footer__col2__sec1__text
                        a(href="/event/eventlist") 
                            p EVENT   
                    .footer__col2__sec1__text
                        a(href="/termsofuse") 
                            p TERMS OF USE     

                .footer__col2__sec2 
                    .footer__col2__sec2__icon
                        a(href="https://www.instagram.com/") 
                            i.fab.fa-instagram
                    .footer__col2__sec2__icon
                        a(href="https://www.facebook.com/") 
                            i.fab.fa-facebook-square
                    .footer__col2__sec2__icon
                        a(href="https://twitter.com/?lang=ko") 
                            i.fab.fa-twitter
                    .footer__col2__sec2__icon
                        a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox") 
                            i.fas.fa-at

                .footer__col2__sec3 
                    .footer__col2__sec3__text1 
                        p project name : we of web toon ＠ 2021
                    .footer__col2__sec3__text2 
                        a(href="/createWebtoon")  
                            p project Participants : 동건 | 민수 | 지언 | 도기 | 근모