doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WOW!
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css")
    body  
        header.mainheader
            h1 CONTAC US
            h3 Questionlist 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, voluptatem vel distinctio quidem exercitationem aliquam cupiditate illo voluptate deserunt esse amet odit,
            p ipsa est placeat commodi a modi reprehenderit incidunt.
            a(href="/") 
                button HOME 
        section.wholeWrapper 
            section.XX__left 
            section.rsWrapper
                block content
            section.XX__right 
        div.mainfooter
            .mainfooter__box
                .mainfooter__box__top
                    .mainfooter__box__top__text1
                        h2 ABOUT
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        p Adipisci est ipsum earum voluptates laboriosam. Est, enim vel saepe eaque quidem harum
                        p itaque? Consequuntur ut magni quos, aperiam earum facere ab!
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam corrupti earum, quae iure aperiam 
                        p veniam qui facilis distinctio aliquam. Laboriosam quasi sapiente obcaecati molestiae 
                        p eaque veritatis velit voluptas cumque? Reprehenderit!
                    .mainfooter__box__top__text2
                        h2 LOGIN
                        a(href="/signin") 
                            p signin page
                        a(href="/termsofuse") 
                            p signup page
                        a(href="/")
                            p notice board  
                        a(href="/free/freelist")
                            p free board                                       
                    .mainfooter__box__top__text3
                        h2 CONTENT
                        a(href="/") 
                            p naver webtoon
                        a(href="/") 
                            p kakao webtoon
                        a(href="/") 
                            p naver series
                        a(href="/") 
                            p kakao page
                        a(href="/") 
                            p writer development
                        a(href="/") 
                            p finished webtoon      
                .mainfooter__box__buttom
                    .mainfooter__box__buttom__text  
                        p Wowproject ﹫2021 All Rights Reserved by wowproject.
                    .mainfooter__box__buttom__icon
                        .mainfooter__box__buttom__icon__ic
                            a(href="https://www.facebook.com/") 
                                i.fab.fa-facebook-square
                        .mainfooter__box__buttom__icon__ic    
                            a(href="https://www.instagram.com/") 
                                i.fab.fa-instagram    
                        .mainfooter__box__buttom__icon__ic  
                            a(href="https://twitter.com/?lang=ko") 
                                i.fab.fa-twitter
                        .mainfooter__box__buttom__icon__ic  
                            a(href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox") 
                                i.fas.fa-at
