extends ../layouts/base.pug

block content
    .devBox
        .devBox__col1
        .devBox__col2
            p 강의영상
            p 일러스트레이터 샬이
        .devBox__col3
            iframe(width="560" height="315" src="https://www.youtube.com/embed/6X2MsRom6TU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .devBox__col4
        .devBox__col5
        .devBox__col6
        .devBox__col7
        .devBox__col8 
        .devBox__col9 
        .devBox__col10  
        .devBox__col11   
        .devBox__col12 
        .devBox__col13    