extends ../layouts/base.pug

block content
    div.so __________________________________
    div.hi WOW 도움말 페이지에 오신것을 환영합니다. 👋🏻
    div.question WOW기본정보
    div.question2 
        div.howsignup ❓ 회원가입은 어떻게 해요?
            p 
            br
            div.howsignup__1 상단에 signup 글씨를
            div.howsignup__2 누르시면 회원가입 페이지로
            div.howsignup__3 넘어갑니다.
            div.howsignup__4 그곳에 자신의 정보를 쓰고 signup 버튼을 누르시면
            div.howsignup__5 회원가입이 완료됩니다.
        div.howsignin ❓ 로그인은 어떻게 해요?
            p 
            br 
            div.howsignin__1 상단에 signin
            div.howsignin__2 글씨를 누르시면 로그인
            div.howsignin__3 페이지로 넘어갑니다.
            div.howsignin__4 그곳에 자신의 이메일과
            div.howsignin__5 비밀번호를 쓰고 로그인 버튼을 누르시면 로그인이 완료됩니다.
        div.whatwow ❓ WOW는 무엇이죠?
            p 
            br 
            div.whatwow__1 WOW는 웹툰소개와 작가육성을 목적으로 만들어진 웹사이트
            div.whatwow__2 입니다.
        div.howusewow ❓ WOW는 어떻게 이용할 수 있죠?
            p 
            br 
            div.howusewow__1 WOW에 궁금한점은 하단에 question 페이지를 통해서
            div.howusewow__2 질문하시면 답변을 받으실 수 있고 웹툰정보와 작가육성
            div.howusewow__3 강의 및 추천 도구등은 각각의 버튼으로부터 서비스를
            div.howusewow__4 제공받으실 수 있습니다.
    div.whathelp 어떤 도움이 필요하신가요?
    div.whathelp2 
        div.signup 회원가입 
            p 
            br 
            div.signup__1 상단 signup 글씨클릭
        div.signin 로그인 
            p 
            br 
            div.signin__1 상단 signing 글씨클릭
        div.home 홈화면 
            p 
            br 
            div.home__1 상단 home 글씨클릭
        div.other 그 외 다른 서비스 
            p 
            br 
            div.other__1 하단 원하는 서비스의 각
            div.other__2 글씨클릭