extends ../layouts/base.pug

block content
    .homebox 
        .homebox__col1 
            .homebox__col1__sec 
                ul
                    li.homebox__col1__sec__b
                        .homebox__col1__sec__b__a1
                            img(src="img/wow1.png") 
                        .homebox__col1__sec__b__a2
                            .homebox__col1__sec__b__a2__c1
                                .homebox__col1__sec__b__a2__c1__text
                                    p   카카오웹툰
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버웹툰
                                .homebox__col1__sec__b__a2__c1__title 
                                    p   WOW
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오페이지
                                .homebox__col1__sec__b__a2__c1__text
                                    p   네이버시리즈     
                            .homebox__col1__sec__b__a2__c2
                                .homebox__col1__sec__b__a2__c2__top1
                                    img(src="img/homelogo1.png").homebox__col1__sec__b__a2__c2__top1__logo1
                                .homebox__col1__sec__b__a2__c2__box1
                                    i.fab.fa-facebook-square
                                .homebox__col1__sec__b__a2__c2__box2
                                    i.fab.fa-instagram
                                .homebox__col1__sec__b__a2__c2__box3
                                    i.fab.fa-youtube            
                    li.homebox__col1__sec__b
                        .homebox__col1__sec__b__a1
                            img(src="img/wow2.png") 
                        .homebox__col1__sec__b__a2
                            .homebox__col1__sec__b__a2__c1
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오웹툰
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버웹툰
                                .homebox__col1__sec__b__a2__c1__title 
                                    p   WOW
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오페이지
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버시리즈         
                            .homebox__col1__sec__b__a2__c2
                                .homebox__col1__sec__b__a2__c2__top2
                                    img(src="img/homelogo2.png").homebox__col1__sec__b__a2__c2__top1__logo2
                                .homebox__col1__sec__b__a2__c2__box1
                                    i.fab.fa-facebook-square
                                .homebox__col1__sec__b__a2__c2__box2
                                    i.fab.fa-instagram
                                .homebox__col1__sec__b__a2__c2__box3 
                                    i.fab.fa-youtube                              
                    li.homebox__col1__sec__b
                        .homebox__col1__sec__b__a1
                            img(src="img/wow3.png") 
                        .homebox__col1__sec__b__a2
                            .homebox__col1__sec__b__a2__c1
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오웹툰
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버웹툰
                                .homebox__col1__sec__b__a2__c1__title 
                                    p   WOW
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   카카오페이지
                                .homebox__col1__sec__b__a2__c1__text 
                                    p   네이버시리즈         
                            .homebox__col1__sec__b__a2__c2 
                                .homebox__col1__sec__b__a2__c2__top3
                                    img(src="img/homelogo3.png").homebox__col1__sec__b__a2__c2__top1__logo3
                                .homebox__col1__sec__b__a2__c2__box1
                                    i.fab.fa-facebook-square
                                .homebox__col1__sec__b__a2__c2__box2
                                    i.fab.fa-instagram
                                .homebox__col1__sec__b__a2__c2__box3 
                                    i.fab.fa-youtube                     
                    li.homebox__col1__sec__b
                        .homebox__col1__sec__b__a1
                            img(src="img/wow4.png") 
                        .homebox__col1__sec__b__a2
                            .homebox__col1__sec__b__a2__c1
                                .homebox__col1__sec__b__a2__c1__text 
                                    a(href="") 
                                        p   카카오웹툰
                                .homebox__col1__sec__b__a2__c1__text 
                                    a(href="") 
                                        p   네이버웹툰
                                .homebox__col1__sec__b__a2__c1__title 
                                    a(href="") 
                                        p   WOW
                                .homebox__col1__sec__b__a2__c1__text 
                                    a(href="") 
                                        p   카카오페이지
                                .homebox__col1__sec__b__a2__c1__text
                                    a(href="")  
                                        p   네이버시리즈         
                            .homebox__col1__sec__b__a2__c2 
                                .homebox__col1__sec__b__a2__c2__top4
                                        a(href="https://series.naver.com/comic/home.series")                                        
                                            img(src="img/homelogo4.png").homebox__col1__sec__b__a2__c2__top1__logo4
                                .homebox__col1__sec__b__a2__c2__box1
                                    a(href="https://www.facebook.com/") 
                                        i.fab.fa-facebook-square
                                .homebox__col1__sec__b__a2__c2__box2
                                    a(href="https://www.instagram.com/") 
                                        i.fab.fa-instagram
                                .homebox__col1__sec__b__a2__c2__box3
                                    a(href="https://www.youtube.com/") 
                                        i.fab.fa-youtube                    
        .homebox__col2
            a(href="#") 
                img(src="img/wow5.png")
        .homebox__col3 
            .homebox__col3__sec1 
                .homebox__col3__sec1__b1
                    a(href="/webtoon/kakaoWeb") 
                        img(src="img/wow6.png")
                .homebox__col3__sec1__b2 
                    a(href="/webtoon/naverSeries") 
                        img(src="img/wow7.png")
                .homebox__col3__sec1__b3
                    a(href="/webtoon/kakaoPage")  
                        img(src="img/wow8.png")
            .homebox__col3__sec2 
                .homebox__col3__sec2__b1
                    a(href="/webtoon/naverWeb")  
                        img(src="img/wow9.png")
                .homebox__col3__sec2__b2
                    a(href="/webtoon/writer") 
                        img(src="img/wow10.png") 
                .homebox__col3__sec2__b3
                    a(href="/webtoon/finished")  
                        img(src="img/wow11.png") 
        .homebox__col4
            a(href="#")
                .homebox__col4__sec
                    img(src="img/wow12.png") 
        .homebox__col5
            .homebox__col5__sec1 
                .homebox__col5__sec1__b1
                    a(href="/development") 
                        img(src="img/wow13.png")
                .homebox__col5__sec1__b2
                    a(href="/suggestion") 
                        img(src="img/wow14.png") 
                .homebox__col5__sec1__b3
                    a(href="/development") 
                        img(src="img/wow15.png") 
            .homebox__col5__sec2 
                .homebox__col5__sec2__b1
                    a(href="/suggestion") 
                        img(src="img/wow16.png") 
                .homebox__col5__sec2__b2
                    a(href="/suggestion") 
                        img(src="img/wow17.png") 
                .homebox__col5__sec2__b3
                    img(src="img/wow18.png") 
                     