extends ../layouts/base.pug

block content
    div.all
        div.top
            div.top__p
                .icon 
            div.top__wow_project wow_project
            div.top__jjj ...
        div.partcipants
            div.partcipants1
                div.partcipants1__good WOW 프로젝트
                    p 팀&팀장&팀원
                    p 정보
                div.partcipants1__d < 오동건 >
                    p 익명글
                    p - 팀장에 대한 책임감을 가지고 잘함.
                    p - 매일꾸준히 무언갈 하는데 완성물이 나옴 착하고 친절함.
                    p -
                    p -
                    p -
                div.partcipants1__m < 지민수 >
                    p 익명글
                    p - 매일하는 꾸준히 하고 잘함.
                    p - 매일 꾸준히 하는 사기캐이고 성격이 좋음 정신연령이 높음.
                    p -
                    p -
                    p -
                div.partcipants1__j < 김지언 >
                    p 익명글
                    p - 마음씨가 좋고 활동량이 많고 친절함 코딩을 잘함.
                    p -
                    p -
                    p -
                    p -
            div.partcipants2
                div.parctipants2__ggang < 프로젝트&팀소개 >
                    p 팀명: 우진이 갱생 작업
                    p 팀장: 오동건
                    p 팀원: 지민수, 정근모,
                    p   홍도기, 김우진, 김지언
                    p 프로젝트: 웹툰소개
                    p &웹툰공모전 및 작가육성
                    p 프로젝트명:
                    p We Of Webtoon(WOW)
                div.partcipants2__g < 정근모 >
                    p 익명글
                    p - 사기캐고 너무착함.
                    p -
                    p -
                    p -
                    p -
                div.partcipants2__d < 홍도기 >
                    p 익명글
                    p - 진짜 잘 하는데 이번 프로젝트때는 바빠서 할 시간이 별로 없어서 아쉬움.
                    p - 바쁨.
                    p -
                    p -
                    p -
                div.partcipants2__o < 김우진 >
                    p 익명글
                    p - 연락을 읽씹함.
                    p - 갱생불가한 돌덩어리다 계속 두드려도 깨지지 않는 벽이 있음.
                    p -
                    p -
                    p -
        div.middlefooter
            div.middlefooter__views 조회수 10회
            div.middlefooter__user wow_project  wow프로젝트 팀장&팀원 정보
            div.middlefooter__likes wow   더보기
            div.middlefooter__chat 댓글 16개 모두 보기
            div.middlefooter__chat1 mememe 굿굿
            div.middlefooter__chat2 ooo222 우와