extends ../layouts/base.pug

block content
    .profileeditBox
        .profileeditBox__col1   
            .profileeditBox__col1__icon
            .profileeditBox__col1__button1    
                button Upload new picture
            .profileeditBox__col1__button2         
                button Delete     
        .profileeditBox__col2
            .profileeditBox__col2__text
                p Name
                input(type="text")
                p Birth 
                input(type="text")
                p Gender
                input(type="text")
                p Phone_number
                input(type="number") 
                p Email 
                input(type="email") 
                p Password
                input(type="number")     
                p content
                textarea(name="", cols="30", rows="10")   
                p Brief description for your profile. URLs are hyperlinked.
                p ONLINE PRESENCE
        .profileeditBox__col3