extends ../layouts/base.pug

block content
    .naverwebtoon_header
        .nwheader__weekday 
            a(href="naverwebtoonweekday") 
                .nwheader__weekday__font 요일별
        .nwheader__endwebtoon
            a(href="/naverendwebtoon") 
                .nwheader__endwebtoon__font 완결웹툰

    .naverwebtoonweekday_main
            .naverwebtoons 
                .naverwebtoons_rowbox1
                    .naverendwebtoons_picture_box1
                        .endpicture_box_font1 모기전쟁
                    .naverendwebtoons_picture_box2
                        .endpicture_box_font2 잉여특공대
                    .naverendwebtoons_picture_box3
                        .endpicture_box_font3 후아유
                    .naverendwebtoons_picture_box4
                        .endpicture_box_font4 오늘의 순정만화


                .naverwebtoons_rowbox2
                    .naverendwebtoons_rowbox2_picture_box1 
                        .endpicture_box_font5 삼매경
                    .naverendwebtoons_rowbox2_picture_box2
                        .endpicture_box_font6 살아간다
                    .naverendwebtoons_rowbox2_picture_box3
                        .endpicture_box_font7 선의의 경쟁
                    .naverendwebtoons_rowbox2_picture_box4
                        .endpicture_box_font8 군주
                .naverwebtoons_rowbox3
                    .naverendwebtoons_rowbox3_picture_box1 
                        .endpicture_box_font9 헬프미
                    .naverendwebtoons_rowbox3_picture_box2 
                        .endpicture_box_font10 악인
                    .naverendwebtoons_rowbox3_picture_box3 
                        .endpicture_box_font11 파이게임
