extends ../layouts/base.pug

block content
    .naverwebtoon_header
        .nwheader__weekdays     
            a(href="naverwebtoonweekday") 
                .nwheader__weekdays__font 요일별
        .nwheader__endwebtoons
            a(href="/naverendwebtoon") 
                .nwheader__endwebtoons__font 완결웹툰


    .naverwebtoondaylist   
        ul.webtoonday
            a(href="/mondaynaverwebtoons") 
                li.mondaywebtoons 월요일 웹툰 
            a(href="/tuesdaynaverwebtoons") 
                li.tuesdaywebtoons 화요일 웹툰
            a(href="/wednesdaynaverwebtoons") 
                li.wednesdaywebtoons 수요일 웹툰
            a(href="/thrursdaynaverwebtoons") 
                li.thursdaywebtoons 목요일 웹툰
            a(href="/fridaynaverwebtoons") 
                li.fridaywebtoons 금요일 웹툰
            a(href="/saturdaynaverwebtoons") 
                li.saturdaywebtoons 토요일 웹툰
            a(href="/sundaynaverwebtoons") 
                li.sundaywebtoons 일요일 웹툰

    .naverwebtoonweekday_main
        .naverwebtoons 
            .naverwebtoons_rowbox1
                .naverwebtoons_picture_box5
                    .picture_box_font1 쇼미더럭키짱
                .naverwebtoons_picture_box6
                    .picture_box_font2 여신강림
                .naverwebtoons_picture_box7
                    .picture_box_font3 김부장
                .naverwebtoons_picture_box8
                    .picture_box_font4 1을줄게


            .naverwebtoons_rowbox2
                .naverwebtoons_rowbox2_picture_box9 
                    .picture_box_font5 한림체육관
                .naverwebtoons_rowbox2_picture_box10
                    .picture_box_font6 내가키운 S등급들
                .naverwebtoons_rowbox2_picture_box11
                    .picture_box_font7 사신소년
                .naverwebtoons_rowbox2_picture_box12
                    .picture_box_font8 하루만 니가되고 싶어
            .naverwebtoons_rowbox3 
                .naverwebtoons_rowbox3_picture_box13
                    .picture_box_font9 중증외상센터:골든아어
                .naverwebtoons_rowbox3_picture_box14
                    .picture_box_font10 용사가 돌아왔다
                .naverwebtoons_rowbox3_picture_box15
                    .picture_box_font11 달콤살벌한 부부
                .naverwebtoons_rowbox3_picture_box16
                    .picture_box_font12 랜덤채팅의 그녀


