extends ../layouts/base.pug

block content
    .naverwebtoon_header
        .nwheader__weekdays     
            a(href="naverwebtoonweekday") 
                .nwheader__weekdays__font 요일별
        .nwheader__endwebtoons
            a(href="/naverendwebtoon") 
                .nwheader__endwebtoons__font 완결웹툰


    .naverwebtoondaylist   
        ul.webtoonday
            a(href="/mondaynaverwebtoons") 
                li.mondaywebtoons 월요일 웹툰 
            a(href="/tuesdaynaverwebtoons") 
                li.tuesdaywebtoons 화요일 웹툰
            a(href="/wednesdaynaverwebtoons") 
                li.wednesdaywebtoons 수요일 웹툰
            a(href="/thrursdaynaverwebtoons") 
                li.thursdaywebtoons 목요일 웹툰
            a(href="/fridaynaverwebtoons") 
                li.fridaywebtoons 금요일 웹툰
            a(href="/saturdaynaverwebtoons") 
                li.saturdaywebtoons 토요일 웹툰
            a(href="/sundaynaverwebtoons") 
                li.sundaywebtoons 일요일 웹툰

    .naverwebtoonweekday_main
        .naverwebtoons 
            .naverwebtoons_rowbox1
                .naverwebtoons_picture_box17
                    .picture_box_font13 쇼미더럭키짱
                .naverwebtoons_picture_box18
                    .picture_box_font14 전지적 독자시점
                .naverwebtoons_picture_box19
                    .picture_box_font15 조조코믹스
                .naverwebtoons_picture_box20
                    .picture_box_font16 화산귀환     


            .naverwebtoons_rowbox2
                .naverwebtoons_rowbox2_picture_box21 
                    .picture_box_font17 먹는인생
                .naverwebtoons_rowbox2_picture_box22
                    .picture_box_font18 여고생드래곤
                .naverwebtoons_rowbox2_picture_box23
                    .picture_box_font19 캐슬
                .naverwebtoons_rowbox2_picture_box24
                    .picture_box_font20 튜토리얼 탑의 고인물
            .naverwebtoons_rowbox3 
                .naverwebtoons_rowbox3_picture_box25
                    .picture_box_font21 급식아빠
                .naverwebtoons_rowbox3_picture_box26
                    .picture_box_font22 남주의 첫날밤을 가져버렸다
                .naverwebtoons_rowbox3_picture_box27
                    .picture_box_font23 일렉시드
                .naverwebtoons_rowbox3_picture_box28
                    .picture_box_font24 고삼무쌍


